/* GLOBAL COLORS */
:root{
    --color-primary:#0f1057!important;
    --color-secondary: #0fabc3;
    --color-default:rgb(22, 22, 74);
    --color-paragraph:#1f1b4d;
}
.home__hemodialysis__wrapper{
    margin-top: 90px;
}
.home__hemodialysis__wrapper .home__hemodialysis{
    padding: 50px 0;
}
.home__hemodialysis__wrapper .home__hemodialysis .main__title{
    margin-bottom: 30px;
    color: var(--color-primary);
    text-transform: uppercase;
}
.home__hemodialysis__wrapper .home__hemodialysis h5{
    color: var(--color-default);
}
.home__hemodialysis__wrapper .home__hemodialysis p{
    color: var(--color-paragraph);
    font-weight: 300;
}


/* MEDIA QUERIES */
@media screen and (max-width:576px){
    .home__hemodialysis__wrapper .home__hemodialysis{
        padding: 25px 0;
    }
    .home__hemodialysis__wrapper .home__hemodialysis .main__title{
        margin-bottom: 20px;
        line-height: 28px;
        font-size: 18px;
    }
    .home__hemodialysis__wrapper .home__hemodialysis h5{
        font-size: 18px;
    }
    .home__hemodialysis__wrapper .home__hemodialysis p{
        font-size: 15px;
    }
}